<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\App\Request\PathInfoProcessor">
        <plugin name="remove_store_alias_from_path"
                type="Proseno\StoreAlias\Plugin\RemoveStoreAliasFromPath"
                sortOrder="50"/>
    </type>

    <type name="Magento\Store\Model\Store">
        <plugin name="update_path_with_alias_plugin"
                type="Proseno\StoreAlias\Plugin\UpdatePathWithAliasPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Backend\Block\System\Store\Edit\Form\Store">
        <plugin name="add_alias_field_plugin"
                type="Proseno\StoreAlias\Plugin\AddAliasFieldPlugin"
                sortOrder="10"/>
    </type>
</config>
